// $primary: #333983;
$primary: #000d2b;
// $secondary: #1ADC77;
$secondary: #06e7cd;
$neutral-1: #ffffff;
$neutral-2: #f9f9f9;
$border-neutral: #dedede;
$orange: #ff9002;
$yellow-orange: #ffaa00;
$primary-button: #06e7cd;
$button-gray-color: #ababab;

$text-color: black;
$error: red;

$text-dark-grey: #344055;
$text-soft-grey: #aeb0b7;

$neutral-bg: #fafbfc;
$white: #ffffff;
